body, ul {
  margin: 0;
}

body > *,
ul,
li,
article,
aside,
header {
  position: relative;
}

::before {
  position: absolute;
  line-height: 20px;
  min-width: 30px;
}

p {
  color: cyan;
  font-size: 23px;
}

header {
  outline: 1px solid green;
  min-height: 20%;
  background-color: rgba(100, 100, 100, 0.5);
}

header::before {
  content: "header";
  background-color: rgba(100, 100, 100, 0.5);
}

ul {
  outline: 2px dashed #963296;
  background-color: rgba(150, 50, 150, 0.1);
}

ul::before {
  content: "ul";
  background-color: rgba(150, 50, 150, 1);
  right: -3px;
  bottom: -3px;
}

li {
  outline: 2px dotted #8a2be2;
  background-color: rgba(138, 43, 226, 0.1);
  list-style: none;
}

li::before {
  content: "li";
  background-color: rgba(138, 43, 226, 0.1);
}

main {
  min-height: 70%;
  outline: 1px solid blue;
  display: flex;
  align-items: stretch;
  background-color: rgba(0, 0, 255, 0.1);
}

main::before {
  content: "main";
  background-color: rgba(0, 0, 255, 1);
}

footer {
  min-height: 10%;
  outline: 3px solid #ff0000;
  background-color: rgba(255, 0, 0, 0.1);
  display: flex;
}

footer::before {
  content: "footer";
  background-color: red;
}

nav {
  outline: 1px solid black;
}

article {
  outline: 1px solid #aaa627;
}

main article {
  width: 100%;
  background-color: rgba(0, 255, 0, 0.2);
}

main article .about_me::before {
  content: ".about.me";
  background-color: rgba(0, 255, 0, 0.5);
}