body, ul {
  margin: 0;
}

.aniram_logo img {
  width: 96px;
  height: 51px;
}

p {
  color: cyan;
  font-size: 23px;
}

header {
  min-height: 20%;
  background-color: rgba(100, 100, 100, 0.5);
}


ul {
  background-color: rgba(150, 50, 150, 0.1);
}

li {
  background-color: rgba(138, 43, 226, 0.1);
  list-style: none;
}

main {
  min-height: 70%;
  display: flex;
  align-items: stretch;
  background-color: rgba(0, 0, 255, 0.1);
}

footer {
  min-height: 10%;
  background-color: rgba(255, 0, 0, 0.1);
  display: flex;
}

main article {
  width: 100%;
  background-color: rgba(0, 255, 0, 0.2);
}

.bth:hover {
  background-color: #ffffff;
}

.btn:active {
  color: #000000;
}

.gallery {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.gallery div {
  margin: 10px;
}

.gallery-item img {
  width: 250px;
  height: 250px;
}

.gallery-item img:hover {
  transform: scale(1.5 );
  transition-duration: 0.7s;
}